/IBFT-Network/.env

/IBFT-Network/Node-1/data/besu.networks
/IBFT-Network/Node-1/data/besu.ports
/IBFT-Network/Node-1/data/key
/IBFT-Network/Node-1/data/key.pub
/IBFT-Network/Node-1/data/database/
/IBFT-Network/Node-1/data/caches/

/IBFT-Network/Node-2/data/besu.networks
/IBFT-Network/Node-2/data/besu.ports
/IBFT-Network/Node-2/data/key
/IBFT-Network/Node-2/data/key.pub
/IBFT-Network/Node-2/data/database/
/IBFT-Network/Node-2/data/caches/

/IBFT-Network/Node-3/data/besu.networks
/IBFT-Network/Node-3/data/besu.ports
/IBFT-Network/Node-3/data/key
/IBFT-Network/Node-3/data/key.pub
/IBFT-Network/Node-3/data/database/
/IBFT-Network/Node-3/data/caches/

/IBFT-Network/Node-4/data/besu.networks
/IBFT-Network/Node-4/data/besu.ports
/IBFT-Network/Node-4/data/key
/IBFT-Network/Node-4/data/key.pub
/IBFT-Network/Node-4/data/database/
/IBFT-Network/Node-4/data/caches/

/networkFiles/keys/